<%- include ('partials/_header'); -%>

    <div class="container">
        <div class="row">
            <!--FORM-->
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/series/addserie" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="number" name="idserie" placeholder="Id Serie"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="identidad" placeholder="Identidad"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="idtipo_documento" placeholder="ID tipo documento"
                                    >
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="descripcion" cols="80"
                                    placeholder="Add a Description"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="abreviacion" placeholder="Abreviacion"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="correlativo" placeholder="Correlativo"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="log_usuariocreacion" placeholder="Log Usuario Creacion"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="log_fechacreacion" placeholder="Fecha creacion"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="log_usuariomodificacion" placeholder="Log Usuario Modif"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="log_fechamodificacion" placeholder="Fecha modif"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="tipo_serie" placeholder="Tipo serie"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="orden" placeholder="orden"
                                    >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="log_estado" placeholder="Estado"
                                    >
                            </div>
                            <button class="btn btn-primary" type="submit">
                                Agregar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ('partials/_footer'); -%>