<div class="container">
  <div class="row mb-2">
    <div class="col-md-12">
      <nav
        style="
          --bs-breadcrumb-divider: url(
            &#34;data:image/svg + xml,
            %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
          );
        "aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><h5 class="mt-2"><b>R E P O R T E S - G E N E R A L E S</b></h5></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card">
          <img src="https://dcubetechnologies.com/casestudies/wp-content/uploads/2019/05/node-js-background-1.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><a href="/documentos">Documentos</a></h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="https://hackersandslackers-cdn.storage.googleapis.com/2017/11/_retina/expressjs@2x.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><a href="/entidades">Entidades</a></h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="https://griddb-pro.azureedge.net/en/wp-content/uploads/2018/07/blog_title_28.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><a href="/series">Series</a></h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5">
        <div class="card-deck">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2017/06/30/03/34/gui-2457114_960_720.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><a href="/tipodocumentos">Tipos de Documentos</a></h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2017/05/14/03/45/gui-2311261_960_720.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"><a href="/detalles">Detalles CSV</a></h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>