<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        *{
            font-family: 'Arial', 'Helvetica Neue', sans-serif;
        }
        .navbar .logo a{
            font-weight: bold;
            font-size: 1.5rem;
        }
        .navbar{
            padding-left: 50px;
            padding-right: 80px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="logo">
            <a href="/" class="navbar-brand"><img class="img-fluid" style="margin-right: 15px;" src="https://nodejs.org/static/images/logos/nodejs-new-pantone-white.svg" width="80" />   CRUD - NodeCSV</a>
        </div>

        <div class="form-group mt-3">
            <form class="form-inline ">
                <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <li class="nav-item dropdown mr-5">
            <a style="color:#fff" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reportes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/documento">Documentos CSV</a>
              <a class="dropdown-item" href="/detalle">Detalles CSV</a>
              <a class="dropdown-item" href="/entidades">Entidades CSV</a>
              <a class="dropdown-item" href="/serie">Series CSV</a>
              <a class="dropdown-item" href="/tipo_documento">Tipo Documentos CSV</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Mas</a>
            </div>
        </li>
    </nav>